
hw/190508_Sorts/x64/Debug/Sorts.pdb
hw/190508_Sorts/x64/Debug/Sorts.pch
hw/190508_Sorts/x64/Debug/Sorts.obj
hw/190508_Sorts/x64/Debug/Sorts.log
hw/190508_Sorts/x64/Debug/Sorts.ilk
hw/190508_Sorts/x64/Debug/Sorts.exe
hw/190508_Sorts/x64/Debug/pch.obj
hw/190508_Sorts/x64/Debug/Sorts.tlog/Sorts.lastbuildstate
hw/190508_Sorts/x64/Debug/Sorts.tlog/link.write.1.tlog
hw/190508_Sorts/x64/Debug/Sorts.tlog/link.read.1.tlog
hw/190508_Sorts/x64/Debug/vc141.pdb
hw/190508_Sorts/x64/Debug/vc141.idb
hw/190508_Sorts/x64/Debug/Sorts.tlog/link.command.1.tlog
hw/190508_Sorts/x64/Debug/Sorts.tlog/CL.write.1.tlog
hw/190508_Sorts/x64/Debug/Sorts.tlog/CL.read.1.tlog
hw/190508_Sorts/x64/Debug/Sorts.tlog/CL.command.1.tlog
*.obj
*.ilk
*.log
*.pch
*.pdb
*.exe
*.tlog
*.idb
hw/190607_algorithmC/.vs/190607_algorithmC/v15/Browse.VC.opendb
