
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.db
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.opendb
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/ba4385d7ba71cc77.ipch
*.tlog
*.log
*.pdb
*.ilk
*.pch
testProject/ConsoleApplication1/cacheTest/Debug/cacheTest.obj
testProject/ConsoleApplication1/cacheTest/Debug/pch.obj
testProject/ConsoleApplication1/cacheTest/Debug/vc141.idb
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/74527576bcd54517.ipch
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/5706eee377b02f71.ipch
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/.suo
testProject/ConsoleApplication1/textEditor/Debug/Application.obj
testProject/ConsoleApplication1/textEditor/Debug/vc141.idb
*.obj
*.idb
*.exe
*.ipch
*.db-shm
*.db
*.db-wal
hw/190502_DataStructure/.vs/LinkedList/v15/.suo
*.opendb
hw/190508_Sorts/.vs/Sorts/v15/.suo
