
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.db
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.opendb
testProject/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/ba4385d7ba71cc77.ipch
